@import "tailwindcss";


@theme {
  /* Menghubungkan variabel font dari Next.js (Geist) ke utility Tailwind */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (&:where(.dark, .dark *));

/* Optional: Reset dasar agar transisi warna lebih halus
  saat berganti tema light/dark
*/
@layer base {
  body {
    @apply transition-colors duration-300 ease-in-out;
  }
}